.container {
  background-color: #91bf65;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.list {
  list-style: "- ";
}

.item {
  margin-bottom: 12px;
}

.item:nth-child(odd) {
  color: #2c5c00;
}
