.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  max-width: 350px;
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 150px;
  border-radius: 12px;
  background-color: var(--card-color);
}

.listItem:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.icon {
  height: 48px;
  width: 48px;
  transition: transform 0.3s;
}

.icon:hover {
  color: #fff;
  transform: scale(1.1);
}
