.firstVariant {
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 16px;
  width: 270px;
  height: 120px;
  background-color: var(--card-color);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}

.text {
  font-size: 14px;
  text-align: center;
}

.firstVariant:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
