.link {
  text-align: center;
  color: #ededed;
  font-size: 24px;
}

.link:hover {
  color: #ffffff;
}

@media (max-width: 768px) {
  .link {
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) {
  .navList {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
}
