@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Regular.woff2") format("woff2"),
    url("./fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caveat";
  src: url("./fonts/Caveat-Bold.woff2") format("woff2"),
    url("./fonts/Caveat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caveat";
  src: url("./fonts/Caveat-Medium.woff2") format("woff2"),
    url("./fonts/Caveat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }

  body {
    font-family: "Open Sans", sans-serif;
    color: #e5e5e5;
    background-color: #b2dfdb;
    margin: 0;
    font-weight: 400;
    letter-spacing: 0.04em;
    font-size: 16px;
  }

  img {
    display: block;
    object-fit: cover;
  }
}
