:root {
  --font-family: "Open Sans", sans-serif;
  --second-family: "Caveat", sans-serif;
  --content-color: #e5e5e5;
  --bg-color: #b2dfdb;
  --card-color: #009688;
  --accent-color: #00796b;
  --radius: 12px;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Regular.woff2") format("woff2"),
    url("./fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caveat";
  src: url("./fonts/Caveat-Bold.woff2") format("woff2"),
    url("./fonts/Caveat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caveat";
  src: url("./fonts/Caveat-Medium.woff2") format("woff2"),
    url("./fonts/Caveat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
  font-size: 16px;
  color: #ededed;
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
