.container {
  display: flex;
  justify-content: center;
  padding: 12px;
  gap: 16px;
  margin-bottom: 16px;
  background: var(--card-color);
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 335px;
  height: 50px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
