.icon {
  width: 28px;
  height: 28px;
  color: #234800;
}

.container {
  display: flex;
  justify-content: center;
  padding: 8px;
  gap: 16px;
  margin-bottom: 16px;
  background-color: #91bf65;
  width: 90%;
  border-radius: 12px;
}
